<html>
    <head>
        <title>
             Events Manager
        </title>
        <link rel="stylesheet" href="/stylesheets/index.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1 id="mainHeader" >
                Google Calendar Events Manager
            </h1>
            <div id="gstarted">
                <a  class="btn btn-primary" href="/code" >Get Started</a>
            </div>
            
        </div>
       
    </body>
</html>